<div class="slider">
  <div class="slide-track">
      <!-- Duplicar el contenido de la pista para el scroll infinito -->
      <div class="slide">
          <img src="../../../assets/logos marcas/abercrombie.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/addidas.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/Aeropostale-logo.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/aldo.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/american.jpg" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/calvin.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/fashion.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/forever.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/gap.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/hm.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/hollister.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/levis.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/tommy.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/zara.png" alt="">
      </div>

      <!-- Duplicar el contenido de la pista para el scroll infinito -->
      <div class="slide">
          <img src="../../../assets/logos marcas/abercrombie.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/addidas.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/Aeropostale-logo.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/aldo.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/american.jpg" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/calvin.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/fashion.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/forever.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/gap.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/hm.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/hollister.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/levis.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/tommy.png" alt="">
      </div>
      <div class="slide">
          <img src="../../../assets/logos marcas/zara.png" alt="">
      </div>
  </div>
</div>
