

<div class="flex items-center justify-center p-12 ">
  <div class="mx-auto w-full max-w-[550px] bg-white">
    <div class="flex justify-start mb-4">
      <button (click)="volver()"
        class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-6 h-6"
          viewBox="0 0 24 24">
          <path d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
    </div>
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Editar Producto</h1>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <label for="name"
          class="mb-3 block text-base font-medium text-[#07074D]">
          Nombre del Producto
        </label>
        <input type="text" name="nombre_producto" id="nombre_producto"
          placeholder="Nombre del Producto"
          formControlName="nombre_producto"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
      </div>

      <div class="mb-5">
        <label for="email"
          class="mb-3 block text-base font-medium text-[#07074D]">
          Descripción del Producto
        </label>
        <input type="test" name="descripcion_producto"
          id="descripcion_producto"
          placeholder="Ingresar descripción del producto"
          formControlName="descripcion_producto"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
      </div>
      <div class="mb-5 pt-3">
        <div>
          <label
            class="mb-5 block text-base font-semibold text-[#07074D] sm:text-xl">
            Detalles del Producto
          </label>
          <div class="-mx-3 flex flex-wrap">
            <div class="w-full px-3 sm:w-1/2">
              <div class="mb-5">
                <input type="text" name="precio_producto" id="precio_producto"
                  placeholder="Precio del Producto" formControlName="precio_producto"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
              <div class="mb-5">
                <input type="text" name="cantidad_producto" id="cantidad_producto"
                  placeholder="Cantidad" formControlName="cantidad_producto"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
              <div class="mb-5">
                <input type="text" name="descuento_producto" id="descuento_producto"
                  placeholder="Descuento" formControlName="descuento_producto"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
              </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
              <div class="mb-5">
                <select name="id_categoria" id="id_categoria" formControlName="id_categoria"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                  <option [value]="null" selected>Seleccione la categoría</option>
                  <option *ngFor="let item of categorias" [value]="item.id_categoria">{{item.categoria_nombre}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button
          class="hover:shadow-form w-full rounded-md bg-primary py-3 px-8 text-center text-base font-semibold text-white outline-none">
          Agregar Producto
        </button>
      </div>
    </form>
  </div>
</div>
